/* .button {
    background-color: #293462 !important;
} */
/* .container{
    position: center;
} */
.center {
    text-align: center;
    font-weight: bold;
}
.img {
    width: 100%;
    height: 100%;
}
.container {
    align-content: center;
}