<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org"></html>
	<head th:replace="base::header">
		<nav th:replace="base::navbar">
		</nav>
	</head>
	<body>
        <div class="container">
        <div class="column is-half is-offset-one-quarter center">
            <b>Add Coupon</b>
        </div>
        <form th:action="@{add-coupon}" method="post"> 
            <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert"> 
                <p class="text-center" th:text="${session.message.content}"> <p>
                <th:block th:text="${#session.removeAttribute('message')}"></th:block>
            </div> 
        <div class="column is-half is-offset-one-quarter">    
        <div class="field">
            <label class="label">Coupon Name: </label>
            <div class="control">
                <input class="input" name="name" type="text" placeholder="coupon name" value="">
            </div>
            <label class="label">Discount percentage: </label>
            <div class="control">
                <input class="input" name="percentage" type="number" placeholder="discount %" value="">
            </div>
            <!-- <p class="help is-danger">This email is invalid</p> -->
            <br>
        <div class="field is-grouped">
            <div class="control">
            <button class="button is-success">Submit</button>
            </div>
        </div>
        </div>
        </form>
        <table class="table is-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Coupon code</th>
                    <th>Discount percentage</th>
                </tr>
            </thead>
            <tbody>
                <div th:each="coupon, iter: ${coupons}">
                    <tr>
                        <td><p th:text="${iter.index+1}"></p></td>
                        <td><p th:text="${coupon.name}"></p></td>
                        <td><p th:text="${coupon.percentage+'%'}"></p></td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>
	</body>
</html>