<html lang="en">
<head th:replace="base::header">
    <nav th:replace="base::navbar"></nav>
</head>
<body>
    <form th:action="@{/shop/add-items}" method="post" enctype="multipart/form-data"> 
        <div class="column is-half is-offset-one-quarter">    
          <div class="field">
            <label class="label">Name of Product</label>
            <div class="control">
              <input class="input is-success" name="name" type="text" placeholder="name" value="">
            </div>
            <!-- <p class="help is-danger">This email is invalid</p> -->
          </div>
     
          <div class="field">
            <label class="label">Description</label>
            <p class="control">
                <textarea class="textarea is-success" name="description" placeholder="description"></textarea>
            </p>
          </div>

          <div class="columns">

          <div class="field column is-half">
            <label class="label">Price</label>
            <p class="control">
              <input class="input is-success" name="price" type="number" placeholder="price">
            </p>
          </div>
          <div class="field column is-half">
            <label class="label">Quantity</label>
            <p class="control">
              <input class="input is-success" name="quantity" type="number" placeholder="quantity">
            </p>
          </div>
          
          </div>
          <div class="columns">
          <div class="field column is-half">
            <label class="label">Image</label>
            <p class="control">
                <input type="file" name="file" >
            </p>
          </div>
          <div class="field">
            <label class="label">Select Category</label>
            <div class="control">
              <div class="select">
                <select name="category">
                  <div th:each="category: ${categories}">
                   <option th:text="${category.name}"></option>
                </select>
              </div>
            </div>
          </div>
          </div>

          <br>
          <div class="field is-grouped">
            <div class="control">
              <button class="mybutton focus">Submit</button>
            </div>
            <div class="control">
              <button class="mybutton">Cancel</button>
            </div>
          </div>
          
        </div>
        </form>
</body>

</html>