<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org"></html>
	<head th:replace="base::header">
		<nav th:replace="base::navbar">
		</nav>
	</head>
	<body>
        <br><br>
        <div class="container">
        <div class="columns center">
            <div class="column is-one-fourth center">
                <a href="/admin/add-category" class="button is-primary is-fullwidth"> add category</a>
            </div>
            <div class="column is-one-fourth center">
                <a href="/admin/pending-shops" class="button is-link is-fullwidth"> view shops status </a>
            </div>
            <div class="column is-one-fourth center">
                <a href="all-shops" class="button is-info is-fullwidth"> view shops </a>
            </div>
            <div class="column is-one-fourth center">
                <a  class="button is-light is-fullwidth"> view orders </a>
            </div>
        </div>
    </div>
	</body>
</html>