<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head  th:fragment="header">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <!-- <title th:text="${title}"></title> -->
        <!-- custom stylesheet -->
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <!-- bulma css -->
        <link rel="icon" th:href="@{img/logo.png}">
        <title th:text="${title}"></title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        
        <nav class="navbar" role="navigation" aria-label="main navigation" th:fragment="navbar">
            <div class="navbar-brand">
              <a class="navbar-item logo-item" th:href="@{/}">
                Men's World
              </a>
              
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-end">
                <a href="/products" class="navbar-item">
                  Products
                </a>
                <a href="/shops" class="navbar-item">
                  Shops
                </a>
                  <a href="#" class="navbar-item">
                    About
                  </a>
              </div>
    
              <div class="navbar-end">
                <div class="navbar-item">
                  <section th:if="${user==null}">
                    <div class="buttons">
                      <a class="mybutton focus" th:href="@{/selectsignup}">
                        <strong>Sign up</strong>
                      </a>
                      <a class="mybutton is-light" th:href="@{/login}">
                        Log in
                      </a>
                      <div th:if="${cart!=null}">
                        <a class="mybutton focus" th:href="@{/cart}"><i class="fas fa-shopping-cart"></i><span th:text="${cart.quantity}"></span></a>
                      </div>
                      <div th:if="${cart==null}">
                        <a class="mybutton focus" th:href="@{/cart}"><i class="fas fa-shopping-cart"></i></a>
                      </div>
                    </div>
                  </section>
                  <section th:if="${user!=null}">
                    <div class="buttons">
                      <a class="mybutton focus" th:href="@{/{id}/dashboard/(id=${user.role.substring(5,user.role.length()).toLowerCase()})}" >
                        <strong th:text="${user.name}"></strong>
                      </a>
                      <section th:if="${user.role.substring(5,user.role.length()).toLowerCase().equals('customer')}">
                        <div th:if="${cart!=null}">
                          <a class="mybutton focus" th:href="@{/cart}"><i class="fas fa-shopping-cart"></i><span th:text="${cart.quantity}"></span></a>
                        </div>
                        <div th:if="${cart==null}">
                          <a class="mybutton focus" th:href="@{/cart}"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                      </section> &nbsp; &nbsp;
                      <a class="mybutton" th:href="@{/logout}">
                        logout
                      </a>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </nav>
    </head>
    <body>
            <!-- Content from other pages -->
            <!-- End of content from other pages -->
    </body>


    <footer>
      <div class="container">
        <div class="columns center">
          <div class="column is-one-third">
            <a  href="/">Home</a>
          </div>
          <div class="column is-one-third">
            <a  href="/">about us</a>
          </div>
          <div class="column is-one-third">
            <a  href="/">contact us</a>
          </div>
        </div>
        <div class="center">
          <p>Copyright©️ Men's World 2022</p>
        </div>
        <br>
        <script>
          document.addEventListener('DOMContentLoaded', () => {

// Get all "navbar-burger" elements
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Add a click event on each of them
$navbarBurgers.forEach( el => {
  el.addEventListener('click', () => {

    // Get the target from the "data-target" attribute
    const target = el.dataset.target;
    const $target = document.getElementById(target);

    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
    el.classList.toggle('is-active');
    $target.classList.toggle('is-active');

  });
});

});
        </script>
    </footer>
</html>

