<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head  th:fragment="header">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <!-- <title th:text="${title}"></title> -->
        <!-- custom stylesheet -->
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <!-- bulma css -->
        <title th:text="${title}"></title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <nav class="navbar" role="navigation" aria-label="main navigation" th:fragment="navbar">
            <div class="navbar-brand">
              <a class="navbar-item" th:href="@{/}">
                Men's World
              </a>
              
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item">
                  Shoes
                </a>
                <a class="navbar-item">
                  Watches
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Perfume
                  </a>
          
                  <div class="navbar-dropdown">
                    <a class="navbar-item">
                      About
                    </a>
                    <a class="navbar-item">
                      Jobs
                    </a>
                    <a class="navbar-item">
                      Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                      Report an issue
                    </a>
                  </div>
                </div>
              </div>
              
              <div class="navbar-end">
                <div class="navbar-item">
                  <section th:if="${customer==null}">
                    <div class="buttons">
                      <a class="button is-primary" th:href="@{/signup}">
                        <strong>Sign up</strong>
                      </a>
                      <a class="button is-light" th:href="@{/login}">
                        Log in
                      </a>
                    </div>
                  </section>
                  <section th:if="${customer!=null}">
                    <div class="buttons">
                      <a class="button is-primary" th:href="@{/}">
                        <strong th:text="${customer.name}"></strong>
                      </a>
                      <a class="button is-light" th:href="@{/user/dashboard}">
                        dashboard
                      </a>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </nav>
    </head>
    <body>
            <!-- Content from other pages -->
            <!-- End of content from other pages -->
    </body>
</html>

