<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org"></html>
	<head th:replace="base::header">
		<nav th:replace="base::navbar">
		</nav>
	</head>
	<body>
        <div class="container">
        <div class="columns">
        <div class="column is-half">
            <form th:action="@{/customer/confirm-checkout}" method="post">
            <div class="field">
                <label class="label">Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-info" name="name" type="text" placeholder="Name" value="">
                  <span class="icon is-small is-left">
                    <i class="fas fa-signature"></i>
                  </span>
                  
                </div>
                <!-- <p class="help is-danger">This email is invalid</p> -->
              </div>
              <div class="field">
                <label class="label">Address</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-info" name="address" type="text" placeholder="Delivery Address" value="">
                  <span class="icon is-small is-left">
                    <i class="fas fa-location-arrow"></i>
                  </span>
                </div>
                <!-- <p class="help is-danger">This email is invalid</p> -->
              </div>
              <div class="field">
                <label class="label">Contact Number</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-info" name="number" type="text" placeholder="Contact Number" value="">
                  <span class="icon is-small is-left">
                    <i class="fas fa-phone"></i>
                  </span>
                </div>
                <!-- <p class="help is-danger">This email is invalid</p> -->
              </div>
              <div class="field">
                <label class="label">Payment Option</label>
                <div class="control has-icons-left has-icons-right">
                    <input type="radio" required>
                    Cash on Delivery ($3)
                </div>
                <!-- <p class="help is-danger">This email is invalid</p> -->
              </div>
              <div class="control">
                <button class="button is-info"> Confirm Order</button>
                <a href="/cart" class="button is-danger is-outlined">Edit Cart</a>
              </div>
              </form>
        </div>
        <div class="column is-half">
            <div class="card">
                <table class="table is-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div th:if="${cart!=null}" th:each="pair: ${pairs}">
                            <!-- <form th:action="@{}" method="post"> -->
                            <tr>
                                <td><p th:text="${pair.product.id}"></p></td>
                                <td><p th:text="${pair.product.name}"></p></td>
                                <td><p th:text="${'$'+pair.product.price}"></p></td>
                                <td>
                                    <div>
                                        <p class="button is-info" th:text="${pair.quantity}"></p>
                                        &nbsp; &nbsp;
                                    </div>
                                </td>
                            </tr>
                            <!-- </form> -->
                        </div>
                        <div th:if="${cart==null}" class="card-content">
                           <tr>
                            <td>
                                <p> Your cart is currently empty</p>
                            </td>
                           </tr>
                        </div>
                    </tbody>
                </table>
                <div class="center">
                    <p><b>Total</b></p>
                    <p th:text="${'$'+cart.total_after_discount}"></p>
                    <p><b>Total After Tax and Delivery Charge</b></p>
                    <p th:text="${'$'+cart.total_after_charges}"></p>
                </div>
            </div>
        </div>
    </div>
    </div>
	</body>
</html>