<!DOCTYPE html>
<html lang="en">
<head th:replace="base::header">
    <nav th:replace="base::navbar"></nav>
</head>
<body>
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <p class="subtitle">Your Dashboard</p>
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                              <figure class="image is-128x128">
                                <img class="is-rounded" th:src="@{/img/avatar.png}" alt="Placeholder image">
                              </figure>
                            </div>
                            <div class="media-content">
                                <p class="subtitle"><b th:text="${'Howdy, '+ user.name}"></b></p>
                                <br><br>
                                <h6> Here you'll find your past orders and your favorite list</p>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
            
            <div class="column is-half">
                <p class="subtitle">Your Favorite List</p>
                <div class="card">
                <table class="table is-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Add to cart</th>
                            <th>Remove from favorite</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div th:each="product: ${user.favorite}">
                        <tr>
                            <td><p th:text="${product.name}"></p></td>
                            <td><a th:href="@{/add-to-cart/{id}(id=${product.id})}" class="mybutton focus"> <i class="fas fa-shopping-cart"></i></a></td>
                            <td><a th:href="@{/customer/delete-favorite/{id}(id=${product.id})}" class="mybutton"> Remove </a></td>
                        </tr>
                        </div>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        <div class="columns">
            
            <div class="column is-full">
                
                <p class="subtitle">Your Previous Orders</p>
                <div class="card">
                <div th:if="${orders!=null}">
                    <table class="table is-striped">
                        <thead>
                            <tr>
                                <th>Quantity</th>
                                <th>Products</th>
                                <th>Total</th>
                                <!-- <th>Remove from favorite</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <div th:each="order: ${orders}">
                            <tr>
                                <td><p th:text="${order.quantity}"></p></td>
                                    <td>
                                        <div th:each="product: ${order.getProducts()}">
                                            <p th:text="${product.name}"></p>
                                        </div>
                                    </td>
                                <td><p th:text="${order.total}"> Add to cart </p></td>
                                <!-- <td><p th:text="${order.g}"> Remove </p></td> -->
                            </tr>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>