<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org"></html>
	<head th:replace="base::header">
		<nav th:replace="base::navbar">
		</nav>
	</head>
	<body>
		<section>
			<div class="slider_bg_box">
				<img th:src="@{img/home-cover.jpg}"  alt="">
			 </div>
	  	</section>

		<!-- <div class="columns">
			<div class="column">
				<section>
					<div>
						  <div class="card">
							  <div class="card-image">
								  <figure class="image is-16by9 is-covered">
									  <img th:src="@{img/home cover.jpg}" alt="" />
								  </figure>
							  </div>
							  <div class="card-content slider-text">
								  <div class="is-size-5 box">
									  Here you go
								  </div>
							  </div>
						  </div>
				   </div>
			  </section>
			</div> -->
			<!-- <div class="column is-one-third">
				<div class="card">
				  <div class="card-image">
					  <figure class="img">
						<img  th:src="@{img/wallet home.jpg}" alt="Placeholder image">
					  </figure>
					</div>
				</div>
			  </div>
			  <div class="column is-one-third">
				<div class="card">
				  <div class="card-image">
					  <figure class="img">
						<img  th:src="@{img/watch home.jpg}" alt="Placeholder image">
					  </figure>
					</div>
				</div>
			  </div> -->
		  </div>
	</body>
</html>