<html lang="en">
<head th:replace="base::header">
    <nav th:replace="base::navbar"></nav>
</head>
<body>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <input class="input" type="text" placeholder="calvin klein">
        </div>
        <div class="column is-narrow">
          <button class="button is-primary">Search</button>
        </div>
      </div>
    </div>
    <div class="container">
    <div class="columns is-multiline is-centered">
            <div th:each="product: ${products}" class="column is-one-quarter ">
              <a th:href="@{/product/{id}(id=${product.id})}">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img th:src="'data:image/png;base64,' + ${product.setImageBase64(product.image)}" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4" th:text="${product.name}"></p>
                        </div>
                      </div>                  
                      <div class="content">
                        <p th:text="${'Price: $' + product.price}"></p>
                        <p th:text="${'Quantity: ' + product.quantity}"></p>
                      </div>
                    </div>
                  </div>   
                  </a>     
            </div>
      </div>
    </div>
</body>
</html>