<html lang="en">
<head th:replace="base::header">
    <nav th:replace="base::navbar"></nav>
</head>
<body>
    <div class="container">
      <form th:action="@{/products}" method="post">
      <div class="columns is-centered">
        <div class="column is-5">
          <input class="input" name="name" type="text" placeholder="product name">
        </div>
        <div class="column is-2">
            <div class="select">
              <select name="sort">
                <option selected disabled>Sort by price</option>
                <option>Sort by price (Low to High)</option>
                <option>Sort by price (High to Low)</option>
              </select>
            </div>
        </div>
        <div class="column is-2">
          <div class="select">
            <select name="search_type">
              <option>Search Product</option>
              <option>Search Shop</option>
            </select>
          </div>
      </div>
      <div class="column is-2">
        <div class="select">
          <select name="category">
            <option selected disabled>Category</option>
            <div th:each="category: ${categories}">
              <option th:text="${category.name}"></option>
            </div>
          </select>
        </div>
    </div>
        <div class="column is-1 is-narrow">
          <button class="button is-link">Search</button>
        </div>
      </div>
    </form>
    </div>

    <div class="container">
    <div class="columns is-multiline is-centered">
            <div th:each="product: ${products}" class="column is-one-quarter ">
              <a th:href="@{/product/{id}(id=${product.id})}">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img th:src="'data:image/png;base64,' + ${product.setImageBase64(product.image)}" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4" th:text="${product.name}"></p>
                        </div>
                      </div>                  
                      <div class="content">
                        <p th:text="${'Price: $' + product.price}"></p>
                        <p th:text="${'Quantity: ' + product.quantity}"></p>
                      </div>
                    </div>
                  </div>   
                  </a>     
            </div>
      </div>
    </div>
</body>
</html>