<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org"></html>
	<head th:replace="base::header">
		<nav th:replace="base::navbar">
		</nav>
	</head>
	<body>
        <br><br>
        <div class="container">
        <div class="columns is-justify-content-space-around">
            <div class="column is-one-third center">
                <div class="card">
                    <div class="card-content">
                      <div class="content">
                        <img class="image is-4by3" id="signupoption" th:src="@{/img/customer signup.png}">
                        <a href="/signup/ROLE_CUSTOMER" class="button is-fullwidth">Sign up as Customer</a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="column is-one-third center">
                <div class="card">
                    <div class="card-content">
                      <div class="content">
                        <img class="image is-4by3" id="signupoption" th:src="@{/img/shop signup.png}">
                        <a href="/signup/ROLE_SHOP" class="button is-fullwidth">Sign up your Shop</a>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
	</body>
</html>