<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org"></html>
	<head th:replace="base::header">
		<nav th:replace="base::navbar">
		</nav>
	</head>
	<body>
        <br><br>
        <div class="columns center">
            <div class="column is-half center">
                <div class="card">
                    <div class="card-content">
                      <div class="content">
                        <a href="/signup/ROLE_CUSTOMER" class="button">Sign up as Customer</a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="column is-half center">
                <div class="card">
                    <div class="card-content">
                      <div class="content">
                        <a href="/signup/ROLE_SHOP" class="button">Sign up your Shop</a>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
	</body>
</html>