<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org"></html>
	<head th:replace="base::header">
		<nav th:replace="base::navbar">
		</nav>
	</head>
	<body>
        <br><br>
        <div class="columns center">
            <div class="column is-one-third center">
                <a class="button is-primary is-fullwidth"> edit shop</a>
            </div>
            <div class="column is-one-third center">
                <a href="add-item" class="button is-link is-fullwidth"> add item</a>
            </div>
            <div class="column is-one-third center">
                <a class="button is-info is-fullwidth"> view shop</a>
            </div>
        </div>
	</body>
</html>